.sconf_temp
.sconsign.dblite
*.o
*.pyc
*.so
*.os
*.dylib
tests/.tests
ups/*.cfgc
config.log
doc/html
doc/*.tag
doc/doxygen.conf
doc/*aux
doc/*log
python/lsst/meas/deblender/version.py
python/lsst/meas/deblender/deblenderLib.py
python/lsst/meas/deblender/deblenderLib_wrap.cc
tests/*.png
test-*.png
templ-*.png
measure-*.png
sump-*.png
deblend-pre*.png
deblend-heavy*.fits
deblend-*.png
heavy-*.fits
design*.png
design*.pdf
Rim[0-9].png
Rim[0-9]m.png
im[0-9].png
im[0-9]m.png
im1[0-9].png
im1[0-9]m.png
foot2.png
sfoot3.png
img.png
