#!/bin/sh

# run tests that test a variety of data

bailout() {
 echo "$TESTNAME failed ******"
 exit 1
}
announce_test() {
  echo
  echo -n "TEST $1"
  TESTNAME=$1
}
 
test_result() { 
  if [ $3 != 0 ]
  then
      echo "TEST $TESTNAME FAILED - RESULT = $3 "
      bailout
  fi
  cmp  $1 $2 
  if [ $? != 0 ] 
  then 
      echo "TEST $TESTNAME FAILED FILE COMPARE "
      bailout
  fi
}
#
# Run the tests
#
# for files, bit counts and algorithm
for f in wrapS16T.fits   wrapU16F.fits   wrapU16T.fits
do
    for b in  "" -b1 -b4 -b6 -b8 -b12 -b16
    do
	for d in "" -m
	do
	    announce_test "TEST $b $d file $f " 
	    ../bin/sdsscompress $b $d -v -c $r $f | ../bin/sdssdecompress | test_result - $f $?
	done
    done
done

echo "ALL TESTS PASSED"
