#!/bin/sh

# compress/decompress/compare all of the files in a specified directory
#    the default a set pf Brian Yanyy's simulated files
#
DIR=$1
if test "x$DIR" = "x"
then
  DIR=/data/dp1.8/old_photo_trial/run-000581-c1
fi
find $DIR -type f -print | xargs -n1 time ./scd_comp_decomp_cmp.rc

