# -*- python -*-
from lsst.afw.image import FilterConfig, FilterSetConfig
root = FilterSetConfig()
root.description = "The Subaru Hyper Suprime-Cam filters; lambdaEff are placeholders"
root.filters = [ # SDSS g': http://www.naoj.org/Observing/Instruments/SCam/txt/g.txt
                 FilterConfig(name='g', lambdaEff=477, alias=['W-S-G+']),
                 # SDSS r': http://www.naoj.org/Observing/Instruments/SCam/txt/r.txt
                 FilterConfig(name='r', lambdaEff=623, alias=['W-S-R+']),
                 # SDSS i': http://www.naoj.org/Observing/Instruments/SCam/txt/i.txt
                 FilterConfig(name='i', lambdaEff=775, alias=['W-S-I+']),
                 # SDSS z': http://www.naoj.org/Observing/Instruments/SCam/txt/z.txt
                 FilterConfig(name='z', lambdaEff=925, alias=['W-S-Z+']),
                 # Shimasaku et al., 2005, PASJ, 57, 447
                 FilterConfig(name='y', lambdaEff=990, alias=['W-S-ZR']),
                 ]
